body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.container {
  text-align: center;
  padding: 24px 0;
  background-color: #b8b5b0;
  height: 480px;
  width: 500px;
  border-radius: 14px;
  box-shadow: 2px 2px 3px 3px #b8b5b0;
}

h1 {
  color: #878683;
}

input {
  height: 30px;
  width: 250px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #707375;
  appearance: none;
  border-radius: 4px;
  box-shadow: 1px 0px 8px 4px #d1d0cb;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border: 1px solid #72726f;
  outline: 0;
}
button {
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 14px;
  box-shadow: 1px 0px 8px 4px #d1d0cb;
  border: none;
  height: 43px;
  width: 158px;
}

button:hover {
  background: #f6f9fe;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%);
  outline: none;
}

button:focus {
  outline: none;
  border: none;
}


p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 100px;
}